<h1>Show list: <%= @list.name %></h1>





<%= link_to "index", lists_path %>


<%= link_to "Add a bookmark", new_list_bookmark_path(@bookmark) %>


<div class="coucou">
  <% @bookmarks.each do |bookmark| %>
  <%= bookmark.comment %>
  <%= bookmark.list_id %>
  <%= bookmark.movie_id %>
  <%= bookmark.id %>
  <% end %>
</div>
